<ion-header>
  <ion-toolbar color="light">
   <ion-buttons slot="start">
   <ion-button color="dark">
    <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
   </ion-button>
   </ion-buttons> 
   <ion-title>Instagram</ion-title>
   <ion-buttons slot="end">
<ion-button color="dark">
  <ion-icon slot="icon-only" name="send-outline"></ion-icon>
</ion-button>
   </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="story-list">
  <div class="scroll-horizontal">
    <div class="scroll-item">
      <ion-avatar class="avatar-md">
        <img src="https://robohash.org/example" alt="Robot Avatar">
      </ion-avatar>
      <div class="item-label text-muted">
        Your Story
      </div>
    </div>
  </div>
</div>  
</ion-content>